body {
  background-color: #f0f0f0;
  font-family: Inter, System-ui, "Segoe UI", sans-serif;
  padding: 20px 60px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 16px;
}

p, ul, ol {
  font-size: 16px;
  font-weight: 400;
  margin: 4px 0 16px 0;
  line-height: 1.5;

}

ul {
  list-style-type: circle;
  margin-left: 0;
}

ol {
      
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.back-to-home {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.5;
  text-decoration: none;
  color: blue;
}